@model FitAndFresh.Models.ViewModels.ItemMenuVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Delete Item</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <p>Are you sure you want to delete this item?</p>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ItemInMenu.Name" class="col-form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="ItemInMenu.Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ItemInMenu.ItemPicture" class="col-form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="ItemInMenu.ItemPicture" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ItemInMenu.ItemPrice" class="col-form-label">Price (£)</label>
            </div>
            <div class="col-10">
                <input asp-for="ItemInMenu.ItemPrice" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ItemInMenu.ItemDescription" class="col-form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="ItemInMenu.ItemDescription" class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-5 offset-2">
                @* use offset here so that it appears next to form input tag, not below the label*@
                @*<partial name="_DeleteAndBackToListButton" model="Model.Id" />*@

                <partial name="_DeleteAndBackToListButton" model="Model.ItemInMenu.Id" />

            </div>
        </div>
    </div>
</form>
