@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 25%;
        height: 25%
    }

</style>

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Fit and Fresh</h1>
    <p>Protein rich meals, delivered at your convenience</p>

    <br />

    <br />


    <br />

    <img src="~/Images/003.jpg" class="col-4" />

    <img src="~/Images/004.jpg" class="col-4"/>
</div>
